body {
  position: relative;
  background-color: rgba(#e9f3f4,.71);
  line-height: 1.75;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  }

.grid {
  display: grid;
}


/* ------------HEADER-------------------*/
.main-header {
  min-height: 40vh;
  background-size: cover;
  background-position: bottom;
  position: relative;
  align-content: center;
  background-image: url(../images/forest1.jpg);
}

.main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(3, 61, 71);
  opacity: .1;}

.main-header {
  margin-bottom: 10px;
}

.header-content {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: normal;
  z-index: 1;
  }

.header-content p {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #ae5519;
  text-shadow: 5px 5px 3px #000;
}

.header-buttons {
  list-style-type: none;
  background-color: #186f59;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-family: 'intro-grid', sans-serif;
  font-weight: normal
  border: 1px solid #033d47;
  border-radius: 8px;
}

/* ------------MAIN-------------------*/
.case {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
  color: rgba(#e9f3f4,.71);
}

.main {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}

.solution h1, h2 {
  font-family: "Arial", Gadget, sans-serif;
  text-align: center;
}

.solution p {
  padding: 10px;
  text-indent: 30px;
}

.solution span {
  color: #9D2C06;
}

.what, .why {
  grid-gap: 10px;
  background-color: #d3e4e0;
  text-align: justify;
  }

.what img, .why img {
  border-radius: 30%;
}

.title {
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  text-indent: 20px;
  background-color: #e9f3f4;
}

.title span {
  color: #9D2C06;
}

.border {
  padding: 30px;
  border: 3px solid #26646f;
}

.app {
  grid-template-columns: 1fr;
  grid-gap: 50px;
  justify-items: center;
}

.app div{
  width: 500px;
  height:auto;
  text-align: center;
  overflow: hidden;
}

.app span a {
  color: #9D2C06;
}

figure {
padding: 20px;
margin: auto;
}

figcaption {
padding: 20px;
text-align: center;
font-size: 26px;
}


/* ------------FOOTER-------------------*/

.footer {
  display: block;
  background-color: #186f59;
  color: #fff;
  position: relative;
  text-align: center;
  justify-content: center;
}

.footer img {
  float: left;
}

.social {
  list-style-type: none;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.header-content h2 {
  color: rgb(6,42,52);
  text-shadow: 1px 2px 3px rgb(255,255,255);
}

.fa {
  padding: 5px;
  font-size: 18px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
